*{
    box-sizing: content-box;
    --page-title-color: rgba(255,255,255,1);
    --card-color: rgba(255,255,255,1);
    --footer-color: rgba(255,255,255,1);
    --selected-card-color: rgba(255, 255, 212, 1);
    --forgot-button: rgba(255, 48, 48, 1);
    --almost-forgot-button: rgba(255, 146, 46, 1);
    --remembered-button: rgba(47, 190, 52, 1);
    --restart-button-color: rgba(251, 107, 107, 1);
}   

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

header img{
  width: 50px;
}

header h1{
    color: var(--page-title-color);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Righteous', cursive;
    margin-left: 2%;
}

main{
    display: flex;
    justify-content: center;
}

.play-area{
    margin-top:20vh;
    width: 90%;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    margin-bottom: 35vh;
}

.play-area .card{
    height: 10vh;
    margin-bottom: 1vh;
    background-color: var(--card-color);
    border: 1px solid white;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.15);
}
.play-area .card .front{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.play-area .card .front .wrong{
    color:var(--forgot-button);
    text-decoration: line-through;
}

.play-area .card .front .wrong-icon{
    color:var(--forgot-button);
}

.play-area .card .front .almost{
    color:var(--almost-forgot-button);
    text-decoration: line-through;
}

.play-area .card .front .almost-icon{
    color:var(--almost-forgot-button);
}

.play-area .card .front .right{
    color:var(--remembered-button);
    text-decoration: line-through;
}

.play-area .card .front .right-icon{
    color:var(--remembered-button);
}

.play-area .question{
    display:flex;
    justify-content: space-between;
    font-size: 35px;
    font-weight: 700;
}

ion-icon{
    margin-right: 15px;
}

.play-area .card p{
    margin-left: 10px;
    font-size: 18px;
}

.play-area .selected-card{
    height: 20vh;
    display:flex;
    position:relative;
    background-color: var(--selected-card-color);
    margin-bottom: 3vh;
    box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 0;
}

.play-area .selected-card:nth-child(n+2){
    margin-top: 3vh;
}

.play-area .selected-card p{
    font-family: 'Recursive', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.play-area .selected-card ion-icon{
    font-size: 35px;
    position:absolute;
    bottom: 10px;
    right:0;
    z-index: 2;
}

.play-area .selected-card .buttons{
    position:absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 35%;
}

.play-area .selected-card .buttons button{
    height: 100%;
    width: 26%;
    bottom: 0;
    border:none;
    border-radius: 8px;
    font-family: 'Recursive', sans-serif;
    text-align: center;
    color: var(--page-title-color);
    font-size: 14px;
}

.forgot{
    background-color: var(--forgot-button);
}

.almost-forgot{
    background-color: var(--almost-forgot-button);
}

.remembered{
    background-color: var(--remembered-button);
}

footer{
    background-color: var(--footer-color);
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    height: fit-content;
    min-height: 12vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
}

footer h1{
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0;
    text-align: center;
}

footer p{
    font-size: 24px;
    width: 80%;
    text-align: center;
    margin: 6px;
}

footer div{
    width:100%;
    font-size: 25px;
    margin: 8px 0;
    text-align: center;
}

footer .answer-icons{
    width:60%;
    font-size: 25px;
    margin: 8px 0;
    text-align: center;
}


footer div .wrong-icon{
    color: var(--forgot-button);
}

footer div .almost-icon{
    color: var(--almost-forgot-button);
}

footer div .right-icon{
    color: var(--remembered-button);
}

footer div .restart-game{
    font-family: 'Recursive', sans-serif;
    width: 55%;
    height: 56px;
    background-color: var(--restart-button-color);
    border:none;
    border-radius: 5px; 
    font-size: 23px;
    color: var(--page-title-color);
    margin: 12px 0;
}

.hidden{
    display:none !important; 
}

@media (min-width: 768px){

    header img{
        width: 65px;
    }
      
    header h1{
        font-size: 45px;
    }

    .play-area{
        width: 50%;
    }

    footer p {
        width:65%;
    }

    footer div .restart-game{
        width: 30%;
    }
    
}