*{
    box-sizing: border-box;
    --background-color: rgba(251, 108, 107, 1);
    --font-title-color: rgba(255,255,255,1);
    --button-color: rgba(255,255,255,1);
    --button-font-color: rgba(215, 9, 0, 1);
}

body{
    background: var(--background-color);
}

.welcome-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header{
    margin-top: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


.header img{
    width: 40%;
    margin-bottom: 5%;
}

.welcome-page h1{
    font-size: 40px;
    font-family: 'Righteous', cursive;
    color: var(--font-title-color);
}

.welcome-page input{
    width: 65%;
    height: 7%;
    background-color: var(--button-color);
    border: 2px solid var(--button-font-color);
    border-radius: 5px; 
    font-size: 16px;
    text-align: center;
}

.welcome-page button{
    width: 65%;
    height: 7%;
    background-color: var(--button-color);
    border: 2px solid var(--button-font-color);
    border-radius: 5px; 
    margin-bottom: 40%;
    font-size: 23px;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    color: var(--button-font-color);
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 700px){
    .welcome-page{
        justify-content: space-between;
    }

    .header{
        margin-top: 120px;
    }

    .welcome-page h1{
        font-size: 55px;
    }

    .welcome-page button{
        width: 45%;
        height: 10%;
        margin-top: 5%;
        margin-bottom: 10%;

    }
    
}